{% extends 'base.html' %}
{% block title %}{{ product.name_goods }}{% endblock %}
{% block nav %}
    {% if perms.ElectStore.change_product %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ElectStore:update_product' product.pk %}">Редактировать</a>
        </li>
    {% endif %}
    {% if perms.ElectStore.delete_product %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ElectStore:delete_product' product.pk %}">Удалить</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <br>
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-info">Категория: {{ product.get_category_display }}</div>
        <div class="card-body ">
            <h5 class="card-title">Название: {{ product.name_goods }}</h5>
            <p class="card-text">Описание: {{ product.description }}</p>
            <p>Цена: {{ product.cost }}</p>
            <p>Остаток: {{ product.residue }}</p>
        </div>
        <div class="card-footer bg-transparent border-info">
            <a href="{% url "ElectStore:index" %}" class="btn btn-primary" style="float: right">Назад</a></div>
        <form action="{% url "ElectStore:cart_add" product.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="site" value="{% url "ElectStore:one_product" product.pk %}">
            <input style="float: right" class="btn btn-danger" type="submit" value="Добавить в корзину"/>
        </form>
    </div>
{% endblock %}