{% extends 'base.html' %}
{% load custom %}
{% block title %}Главная{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Сумма</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            {% if request.COOKIES.cart %}
                {% for item in request.COOKIES.cart|str_to_json %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.product_cost|floatformat:-2 }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{% ratio item.amount item.product_cost 1 %}</td>
                        <th scope="row">
                            <form action="{% url 'ElectStore:cart_delete' item.product_id %}" method="POST">
                                {% csrf_token %}
                                <a>
                                    <button class="btn btn-danger" type="submit">Удалить</button>
                                </a>
                            </form>
                        </th>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Итого:</td>
                <th scope="row">{{ total }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    {% if request.COOKIES.cart %}
        <h1>Оформить заказ</h1>
        <form action="{% url "ElectStore:order_create" %}" method="post">
            {% include 'partial/form.html' with button_text="Оформить" %}
        </form>
    {% endif %}

{% endblock %}

